#headerTop{
    padding:50px 0px ;
    background: url(../../image/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    z-index: 1;
}
#headerTop::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-color: rgba(1, 1, 1, 0.767);
    z-index: -1;
}
.search-box{
    position: relative;
}

.search-button{
    position: absolute;
    top: 0;
    right: -1px;
}
.search-box input{
    border-radius: 25px;
    border: 1px solid #fff !important;
    padding-left: 20px;
}

.search-box input:focus{
    outline: none;
    box-shadow: none;
}
.search-box  button{
    border-radius: 25px;
}